/* Edit.css */
/* App.css */
body {
    background-color: #f8f9fa; /* Set the background color for the entire page */
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect to cards */
  }
    
.meme-container {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
  }
  
  .meme-content {
    position: relative;
  }
  
  .meme-image {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  button {
    font-size: 1rem;
    padding: 10px 20px;
  }
  
  button.me-2 {
    margin-right: 10px;
  }
  